@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
	text-align: center;
	background-color: #02394A;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	
	/* removing scrollbar, but still retaining scroll */
	-ms-overflow-style: none;
    	scrollbar-width: none;
    	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

main {
	flex: 1;
	padding: 1em 0 0;
}

h1 {
	font-size: 5rem;
	color: #DBEDF3;
	font-family: "Arvo", cursive;
	text-shadow: 3px 0 #EE8434;
}

.w {
	background-image: url('../images/tom1.png');
}

.a {
	background-image: url('../images/tom2.png');
}

.s {
	background-image: url('../images/tom3.png');
}

.d {
	background-image: url('../images/tom4.png');
}

.j {
	background-image: url('../images/snare.png');
}

.k {
	background-image: url('../images/crash.png');
}

.l {
	background-image: url('../images/kick.png');
}

.set {
	margin: 10% auto;
}

.drum {
	border: 10px solid #404B69;
	border-radius: 15px;
	font-family: 'Arvo', cursive;
	font-weight: 900;
	font-size: 5rem;
	line-height: 2;
	color: #EE8434;
	text-shadow: 3px 0 #DBEDF3;
	width: 150px;
	height: 150px;
	margin: 10px;
	background-color: #03284E;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.pressed {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	opacity: 0.5;
}

/* Footer styling */
footer {
	background: #03284E;
	padding: .7em 0;
}

footer .github {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
	color: #DBEDF3;
	font-size: 1.3rem;
	font-family: 'Nunito', sans-serif;
}

footer .github svg {
	fill: #DBEDF3;
	height: 1.75em;
	margin-right: .25em;
}
