@import url("https://fonts.googleapis.com/css?family=Arvo");

body {
	text-align: center;
	background-color: #283149;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
}

* {
	margin: 0;
}

main {
	flex: 1;
}

h1 {
	font-size: 5rem;
	color: #DBEDF3;
	font-family: "Arvo", cursive;
	text-shadow: 3px 0 #DA0463;
}

.w {
	background-image: url('../images/tom1.png');
}

.a {
	background-image: url('../images/tom2.png');
}

.s {
	background-image: url('../images/tom3.png');
}

.d {
	background-image: url('../images/tom4.png');
}

.j {
	background-image: url('../images/snare.png');
}

.k {
	background-image: url('../images/crash.png');
}

.l {
	background-image: url('../images/kick.png');
}

.set {
	margin: 10% auto;
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.pressed {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	opacity: 0.5;
}

.red {
	color: red;
}

.drum {
	outline: none;
	border: 10px solid #404B69;
	font-size: 5rem;
	font-family: 'Arvo', cursive;
	line-height: 2;
	font-weight: 900;
	color: #DA0463;
	text-shadow: 3px 0 #DBEDF3;
	border-radius: 15px;
	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 10px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}


/* Footer styling */
footer {
	background: #2e3238ad;
	padding: 1em 0;
}

footer p.copyright {
	padding: .5em 0 0;
	font-size: 1.3rem;
	color: #fff;
}

footer .github {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

footer .github svg {
	height: 50px;
	fill: #fff;
	margin-right: .5em;
}

footer .github a {
	color: #DBEDF3;
	font-size: 1.7rem;
}